<ion-view title="About" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="about-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Si tienes un teléfono, microondas, o cualquier otra cosa de valor en tu casa que ya no uses. Despreocúpate! ¡En vez de botarlo, véndelo! Tírale una foto a tu aparato o ropa y anúncialo en Tu Market. Lo que tú no quieras puede ser el tesoro de otros.
        </p>

      <p style="color:#000000;">Tu Market es una aplicación donde usuarios pueden comprar y vender objetos. Tu Market solo sirve como una plataforma para que el comprador y el vendedor se conecten. Cuando el comprador encuentra algo que quiere comprar el vendedor tiene la responsabilidad
        de asegurarse como el objeto va a llegar a su casa. </p>

      <p style="color:#000000;">Version 1.0</p>

      <p style="color:#000000;">Derechos reservados a TuMarket</p>
    </div>
  </ion-content>
</ion-view>