<ion-view title="Inicio" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="inicio-form5" class="list">
      <label class="item item-input" id="inicio-search1" name="seachInicio">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar">
      </label>
      <button id="inicio-button8" class="button button-positive  button-block">Buscar</button>
    </form>
    <ion-list id="inicio-list5">
      <ion-item class="item-thumbnail-left" id="inicio-list-item23" ui-sref="tabsController.producto">
        <h2>Producto</h2>
        <p>RD$9999999</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>