<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3" name="loginEmail">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input" id="login-input4" name="loginPswd">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="tabsController.ventas" id="login-button3" class="button button-stable  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>