<ion-view title="Perfil " id="page10">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="perfil-heading3" style="color:#000000;">Nombre</h1>
    <h3 id="perfil-heading4" style="color:#000000;">Correo</h3>
    <h3 id="perfil-heading5" style="color:#000000;">Telefono</h3>
    <button id="perfil-button12" class="button button-positive  button-block">Editar Perfil</button>
  </ion-content>
</ion-view>