<ion-view title="Producto nuevo" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="productoNuevo-form7" class="list">
      <label class="item item-input" id="productoNuevo-input10" name="newProductNombre">
        <input type="text" placeholder="Nombre" ng-model="productoNuevo.nombre">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="productoNuevo-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="productoNuevo-slide216" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="productoNuevo-slide217" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="productoNuevo-slide218" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="productoNuevo-form9" class="list">
      <label class="item item-input" id="productoNuevo-input11" name="newProductDescription">
        <input type="text" placeholder="Descripcion detallada del producto" ng-model="productoNuevo.descripcion">
      </label>
      <label class="item item-input" id="productoNuevo-input12" name="newPoductPrice" >
        <input type="number" placeholder="Precio" ng-model="productoNuevo.precio">
      </label>
      <label class="item item-select" id="productoNuevo-select3" name="newProductCategoria" ng-model="productoNuevo.categoria">
        <span class="input-label" ng-model="productoNuevo.categoria">Categoria</span>
        <select>
          <option>Hogar</option>
          <option>Electrodomestico</option>
          <option>Vehiculo</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabsController.ventas" ng-click="crear()" id="ventas-button10" class="button button-positive  button-block">Publicar</a>
  </ion-content>
</ion-view>
