<ion-view title="Producto" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="producto-heading1" style="color:#000000;">Nombre producto</h1>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="producto-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="producto-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="producto-slide211" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="producto-slide212" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="producto-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Precio</p>
    </div>
    <div id="producto-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Categoria</p>
    </div>
    <div id="producto-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Estado</p>
    </div>
    <div id="producto-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vendedor</p>
    </div>
    <div id="producto-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Contacto del vendedor</p>
    </div>
  </ion-content>
</ion-view>