<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input5" name="signupName">
          <input type="text" placeholder="Nombre completo">
        </label>
        <label class="item item-input" id="signup-input8" name="signupEmail">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input13" name="signupTelefono">
          <input type="tel" placeholder="Telefono">
        </label>
        <label class="item item-input" id="signup-input7" name="signupPswd">
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input" id="signup-input9" name="signupRepPswd">
          <input type="password" placeholder="Repita la Contraseña">
        </label>
      </ion-list>
      <a ui-sref="tabsController.ventas" id="signup-button5" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>