<ion-view title="Ventas" id="page4">
  <ion-content ng-controller="ventasCtrl" padding="true" class="has-header">

    <a ui-sref="tabsController.productoNuevo" id="ventas-button10" class="button button-positive  button-block">Vende un producto</a>

    <ion-list id="ventas-list6">

      <ion-list>
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="producto in productos" ui-sref="tabsController.producto({id:producto.id})">
          <img src={{producto.introImagen}}>
          <i class="icon ion-chevron-right"></i>
          <h2>{{producto.nombre}}</h2>
          <p>{{producto.estado}}</p>
          <ion-option-button class="button-assertive icon-left ion-trash-b"  ng-click="remove(producto.id)">Eliminar</ion-option-button>
        </ion-item>
      </ion-list>

    </ion-list>
  </ion-content>
</ion-view>
