<ion-view title="Ventas" id="page4">
  <ion-content padding="true" class="has-header">

    <a ui-sref="tabsController.productoNuevo" id="ventas-button10" class="button button-positive  button-block">Vende un producto</a>

    <ion-list id="ventas-list6">

      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item24" ui-sref="tabsController.producto">
        <i class="icon ion-chevron-right"></i>
        <h2>Producto</h2>
        <p>Estado (activo,vendido,vendido)</p>
        <ion-option-button class="button-assertive icon-left ion-trash-b"  ng-click="remove(producto.id)">Eliminar</ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
